<!-- <header class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <img src="../../assets/ToDoList.png" alt="To-Do List Logo " class="h-"/>
      <a class="navbar-brand" href="#">To-Do List</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </header> -->
  <header class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card" id="list1" style="border-radius: .75rem; background-color: #ffffff;">
            <div class="card-body py-4 px-4 px-md-5 text-center">
                <img src="../../assets/ToDoList.png" alt="To-Do List Logo " class="img-fluid brand m-auto"/>
              <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                <i class="fas fa-check-square me-1"></i>
                <u>My ToDo-List</u>
              </p>
            </div>
            </div>
            </div>
            </div>
            </div>
  </header>