<header class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card" id="list1" style="border-radius: .75rem; background-color: #ffffff;">
            <div class="card-body py-4 px-4 px-md-5 text-center">
              <p class="h1 text-center mt-3 mb-4 pb-3 text-secondary">
                Full-Stack Task 
              </p>
            </div>
            </div>
            </div>
            </div>
            </div>
  </header>